.formButton {
    position: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.nav-link{
    color: whitesmoke;
}

.nav-link:hover{
    color:grey;
}
.navbar-brand{
    color: whitesmoke;
}

.navbar-brand:hover {
    color: whitesmoke;
}

.Main {
    padding-top: 200px;
}