@import "styles/mixins.scss";
@import "styles/variables.scss";

.WhatIsSection {
  .Diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: $primary-color;
    position: relative;
    top: -50px;

    &:after {
      content: "";
      position: absolute;
      left: -50px;
      top: 50px;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top-color: $primary-color;
    }

    &:first-of-type {
      transform: translate(-100px, -100px);
    }
    &:nth-of-type(2) {
      transform: translate(100px, -100px);
    }
    &:nth-of-type(2) {
      transform: translate(-100px, 100px);
    }
    &:last-of-type {
      transform: translate(100px, 100px);
    }
  }
}
